::-webkit-scrollbar {
    display: none;
}

#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/bg3.jpg);
    text-align: center;
    color: white;
    min-height: 100vh;
    background-attachment: fixed;
    /* background-position: left; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

.bg-green {
    background-color: rgb(209 231 221);
}

i {
    font-size: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Quattrocento', serif;
}

.project-card {
    transition-duration: 0.3s;
}

.project-card:hover {
    transform: scale(1.10);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    margin: 0rem 1rem;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 150px;
    height: 100%;
    width: 100%;
    opacity: 0;
    color: white;
    font-size: 20px;
    background-color: black;
    transition-duration: 0.4s;
}

.cert-card:hover .overlay {
    opacity: 0.8;

}

.role {
    font-family: monospace;
    color: yellow;
    padding: 10px 0px;
}

.about-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 3%;
}